


<div class="panel">
  <h2>Stop: {{watches[0].stopID}}</h2>
  <h4>Seattle Time: {{getTime(currentime)}}</h4>
  <section *ngIf="arrivals" class="watchList">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell" id="bus"><strong>Bus</strong></div>
          <div class="divTableCell" id="info"><strong>Info</strong></div>
          <div class="divTableCell" id="atime"><strong>Arrival Time</strong></div>
        </div>
        <div class="divTableRow" *ngFor="let arrive of arrivals">
          <div class="busNum divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.routeShortName}}</div>
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.tripHeadsign}}</div>
          <div class="ArrivalTime divTableCell" *ngIf="arrive.predictedArrivalTime">{{convertArrivalMins(currentTime,arrive.predictedArrivalTime)}} <span class="mins">mins</span></div>
        </div>
      </div>

    </div>
  </section>
</div>
