<h1>Stop Watched: {{watches[0].stopID}}</h1>
<h2>Current Time: {{currentTime}}</h2>

<div class="panel">
  <section *ngIf="arrivals" class="watchList">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell" id="bus"><strong>Bus</strong></div>
          <div class="divTableCell" id="info"><strong>Info</strong></div>
          <div class="divTableCell" id="atime"><strong>Arrival Time</strong></div>
        </div>
        <div class="divTableRow" *ngFor="let arrive of arrivals">
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.routeShortName}}</div>
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.tripHeadsign}}</div>
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{convertArrivalMins(currentTime,arrive.predictedArrivalTime)}}</div>
        </div>
      </div>

    </div>
  </section>
</div>
