<h1>Stop Watched: {{watches[0].stopID}}</h1>
<h2>Current Time: {{currentTime}}</h2>
  <section *ngIf="arrivals" class="watchList">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">Bus</div>
          <div class="divTableCell">Info</div>
          <div class="divTableCell">Arrival Time</div>
        </div>
        <div class="divTableRow" *ngFor="let arrive of arrivals">
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.routeShortName}}</div>
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{arrive.routeLongName}}</div>
          <div class="divTableCell" *ngIf="arrive.predictedArrivalTime">{{convertArrivalMins(currentTime,arrive.predictedArrivalTime)}}</div>
        </div>
      </div>

    </div>
  </section>
