<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">{{title}}</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="watch">Watch</a></li>
        <li><a routerLink="config">Configure</a></li>
        <li><a routerLink="about">About</a></li>
        <li *ngIf="isLoggedIn">
          <a (click)="logout()">Log out ({{userName}})</a>
        </li>
        <li *ngIf ="!isLoggedIn">
          <a (click)="login()">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="routerParent">
    <router-outlet></router-outlet>
  </div>
</div>
