<app-watch-list [watches]="watches" ></app-watch-list>
<br>
<h1>Add New Stop-Location to Watch List</h1>
<div>
  <h3>Select a Stop</h3>
    <select #newStop class="form-control" id="stop">
      <option value="455">455 (University St Station - Bay C)</option>
      <option value="456">456 (University St Station - Bay D)</option>
      <option value="565">565 (University St Station - Bay A)</option>
      <option value="570">570 (3rd Ave & Union St)</option>
      <option value="682">682 (4th Ave & University St)</option>
      <option value="700">700 (4th Ave & Pike St)</option>
    </select>
    <br>
    <button (click)="submitForm(newStop.value)">Add</button>
</div>
